/*test*/

/** {
  border: dotted 1px black;
}*/

body {
  background: #ffff00;
  background-attachment: fixed;
  background-image: url('https://dl.dropboxusercontent.com/u/297682547/Untitled%20design%20(13).png');
  background-size: cover;
  font-family: 'Source Sans Pro', sans-serif;
}

#content {
  background: white;
  margin: 50px 100px;
  padding: 50px;
}

/*logo*/

#header {
  text-align: center;
}

#header > img {
  height: auto;
  max-width: 100%;
  margin-bottom: 20px;
}

/*clap input*/

#newClap {
  margin-bottom: 30px;
  text-align: center;
}

textarea {
  border: 2px solid black;
  height: 75px;
  font-size: 14px;
  padding: 10px;
  resize: none;
  width: 400px;
}

#inputMap {
  display: none;
}

.inputButtons {
  background: black;
  border: 1px solid #101010;
  color: white;
  font-size: 14px;
}

.inputButtons:hover {
  background: #ffff00;
  color: black;
  cursor:pointer;
}

#locationButtonOne {
  display:inline-block;
  width: 150px;
}

#locationButtonTwo {
  display: none;
  width: 150px;
}

#submitButton {
  width: 100px;
}

/*carousel buttons*/

#tab-controls {
  text-align: center;
}

.buttons {
  background: black;
  border: 1px solid #101010;
  color: white;
  display: inline-block;
  font-size: 14px;
  width: 100px;
}

.buttons:hover {
  background: #ffff00;
  color: black;
  cursor:pointer;
}

/*carousel content*/

#clapContainer {
  display: block;
}

#mapContainer {
  display: block;
  height: 300px;
}

/*claps*/

#claps {
  text-align: center;
}

.clap {
  background-color: white;
  border: 2px solid #101010;
  display: block;
  min-height: 75px;
  padding: 10px;
  width: 400px;
  margin: 20px auto;
  word-wrap: break-word;
}

.delButtons {
  background: white;
  border: 1px solid #101010;
  color: black;
  font-size: 14px;
}

.delButtons:hover {
  background: black;
  color: white;
  cursor: pointer;
}

/*media queries*/

@media (max-width: 700px) {

  #content {
    margin: 10px 10px 10px;
    padding: 5px 5px 5px;
  }

  #header > img {
  }

  #newClapInput {
    height: 75px;
    width: 300px;
  }

  .clap {
    min-height: 75px;
    max-width: 300px;
  }

}
